body {
  background-color: black;
  color: rgb(255, 255, 255);
}
.playlist-item:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.piace {
  width: 10px;
  height: 10px;
}
.nero {
  background-color: black;
}
.gradiente {
  background: rgb(120, 117, 117);
  background: linear-gradient(20deg, rgba(120, 117, 117, 1) 40%, rgba(2, 0, 36, 1) 100%);
}
.product-card {
  position: relative;
  transition: background-color 0.3s ease;
}

.product-card:hover {
  background-color: rgba(233, 233, 233, 0.926); /* Colore di sfondo scuro quando si passa con il mouse */
}

.product-card .product-title,
.product-card .artist-name {
  transition: color 0.1s ease;
}

.product-card:hover .product-title,
.product-card:hover .artist-name {
  color: #1db954; /* Colore del testo quando si passa con il mouse */
}
.playlist-link {
  text-decoration: none;
  color: inherit; /* Mantiene il colore di testo ereditato dal contesto */
}

/* Opzionale: Cambia il colore del testo al passaggio del mouse */
.playlist-link:hover {
  color: #007bff; /* Puoi scegliere qualsiasi colore */
}
